{% for elem in modalshortcuts %}
<nav id="navbar" class="navbar nav-menu">
    <ul>
      <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>{{elem.dspghome}}</span></a></li>
      <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>{{elem.dspgabout}}</span></a></li>
      <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>{{elem.dspgresume}}</span></a></li>
      <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>{{elem.dspgportfolio}}</span></a></li>
      <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>{{elem.dspgservices}}</span></a></li>
      <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>{{elem.dspgcontact}}</span></a></li>
    </ul>
</nav>
{% endfor %}