{% load static wagtailcore_tags wagtailimages_tags %}

  {% for card in self.cards %}

     {% image card.content_image_block format-avif as image_avif %}
    {% if card.content_checkbox_block %}
      <!-- Featured Project Row -->
      <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
        <div class="col-xl-8 col-lg-7">
          <img class="img-fluid mb-3 mb-lg-0" src="{{image_avif.url}}" alt="..." />
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4 class="contenttitle">{{card.content_title}}</h4>
            <p class="contentabod text-black-50 mb-0">{{card.content_bod|richtext}}</p>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}

  {% for card in self.cards %}
    {% image card.content_image_block format-avif as image_avif %}
    {% if forloop.counter|divisibleby:2 %}
        <div class="row gx-0 justify-content-center">
          <div class="col-lg-6">
            <img class="img-fluid" srcset="{{ image_avif.url }}" type="image/avif" />
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <div class="text-white">
                    <h4 >{{card.content_title}}</h4>
                    <p class="mb-0">{{card.content_bod|richtext}}</p>
                  </div>
                  <hr class="text-white-50 d-none d-lg-block mb-0 ms-0" />
                </div>
              </div>
            </div>
          </div>
        </div>
        {% else %}
        <div class="row gx-0 justify-content-center">
          <div class="col-lg-6">
            <img class="img-fluid" srcset="{{ image_avif.url }}" type="image/avif" />
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <div class="text-white">
                    <h4 >{{card.content_title}}</h4>
                    <p class="mb-0">{{card.content_bod|richtext}}</p>
                  </div>
                  <hr class="text-white-50 d-none d-lg-block mb-0 me-0" />
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
    {% endfor %}